
<div class="d-flex justify-content-evenly">
    <p style="width: 80%; text-align: justify ;" > Una pequeña tienda en línea de cosméticos donde se muestra los productos disponibles,
        así como el catalogo y la sección de afiliación.</p>
</div>

  <div style="width: 80%; left:10%;" id="carouselExampleControls" class="carousel slide animated fadeIn" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Inicio</h5>
            </div>
            <img src="assets/img/tienda/tienda.png" class="card-img-top" alt="symphony">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Galeria</h5>
            </div>
            <img src="assets/img/tienda/galeria.png" class="card-img-top" alt="symphony">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Catalogos</h5>
            </div>
            <img src="assets/img/tienda/catalogo.png" class="card-img-top" alt="symphony">
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex justify-content-evenly">
      <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
        <i class="fas fa-angle-left"></i>
      </button>
      <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>

  </div>

<!-- <hr>
<div class="animated fadeIn d-flex justify-content-evenly table-responsive">
    
    <table class="table text-center" style="width: 60%;">
        <tr>
            <td colspan="7">
                Tecnologias implementadas
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/img/html.png" style="width: 60px;" alt=""> html
            </td>
             <td>
                <img src="assets/img/css.png" style="width: 50px;" alt=""> css
            </td>
            <td>
                <img src="assets/img/php.png" style="width: 50px;" alt=""> php
            </td>
           <td>
                <img src="assets/img/javascript.png" style="width: 50px;" alt=""> javascript
            </td>
            <td>
                <img src="assets/img/jquery.png" style="width: 40px;" alt=""> jQuery
            </td>
            <td>
                <img src="assets/img/materialize.png" style="width: 50px;" alt=""> materialize
            </td>
            <td>
                <img src="assets/img/mysql.jpg" style="width: 70px;" alt=""> MySql
            </td>
        </tr>
    </table>
</div> -->
