
<div class="animated fadeIn d-flex justify-content-evenly">
  <div class="card-footer text-muted">
    <span class="badge rounded-pill bg-blue m-2">HTML</span>
    <span class="badge rounded-pill bg-blue m-2">CSS</span>
    <span class="badge rounded-pill bg-blue m-2">Php</span>
    <span class="badge rounded-pill bg-blue m-2">Javascript</span>
    <span class="badge rounded-pill bg-blue m-2">jQuery</span>
    <span class="badge rounded-pill bg-blue m-2">Materialize</span>
    <span class="badge rounded-pill bg-blue m-2">Mysql</span>
  </div>
</div>

  <div style="width: 80%; left:10%;" id="carouselExampleControls" class="carousel slide animated fadeIn" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Inicio</h5>
            </div>
            <img src="assets/img/tienda/tienda.png" class="card-img-top" alt="symphony">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Galeria</h5>
            </div>
            <img src="assets/img/tienda/galerias.png" class="card-img-top" alt="symphony">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Catalogos</h5>
            </div>
            <img src="assets/img/tienda/catalogo.png" class="card-img-top" alt="symphony">
          </div>
        </div>

      </div>
    </div>

  </div>

