<section id="resumen" style="background: #252A2E; padding-top: 20px; padding-bottom: 40px;">
    <div class="db_section_title mt-4">
        <h2>Resumen</h2>
    </div>

    <div style="width: 90%; padding-left: 10%; text-align: justify;">
        <div class="row">
  
            <div class="db_common_text col-sm-12 col-md-6">
                <div class="db_small_title text-center">
              Estudios
            </div>

            <div class="db_education_details db_common_text">
                <div class="db_education_item dark_box_bg">
                  <h4>Ingeniería en sistema computacionales <a href="#" >Instituto Tecnológico Superior de San Andrés Tuxtla </a></h4>
                  <div class="db_year">2015-2020</div>
                  <p> Aplicaciones web y móviles</p>
                </div>
                <div class="db_education_item dark_box_bg">
                  <h4>Físico Matemático  <a href="#" > CETIS No.110</a></h4>
                  <div class="db_year">2012-2015</div>
                  <p>Físico Matemático  </p>
                </div>
              </div>
  
          </div>
    
          <div class="db_common_text col-sm-12 col-md-6">
            <div class="db_small_title text-center">
                Experiencia Laboral
          </div>
  
            <div class="db_experience_details db_common_text">
              <div class="db_experience_item dark_box_bg">
                <h4>Desarrollador de Software <a href="#">DSAI Soluciones S.A. de C.V</a></h4>
                <div class="db_year">06/2017 - 01/2021</div>
                <ul class="db_common_text">
                  <li>Desarrollo de sistemas web con laravel y php, jquery, bootstrap, javascript y mysql.</li>
                  <li>Desarrollo de aplicaciones móviles con ionic y angular.</li>
                  <li>Desarrollo api rest con c#, core.net, laravel, php y mysql.</li>
                  <li>Creación de consultas y procedimientos almacenados en mysql.</li>
                  <li>Gestión de base de datos mysql.</li>
                  <li>Manejo de base de datos sql serve.</li>
                  <li>Manejo de git y github.</li>
                </ul>
              </div>

            </div>
          
          </div>
        </div>
  
      </div>
</section>
