<div class="container mt-5 pb-5" style="width: 90%;">
    <div class="row d-flex justify-content-between">
        <div class="col-sm-12 col-md-7">
            <div style="height: 30px;" class="blue text-center">
                <h5 class="text-white"> <i class="fad fa-graduation-cap"></i> Formación Académica</h5>
            </div>
            <div style="width: 95%; padding-left: 5%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <p style="text-align: justify;">
                            <strong>Instituto Tecnológico Superior de San Andrés Tuxtla, San Andrés Tuxtla, VER | 11/2020 </strong> <br>
                            <strong>Carrera:</strong> Ingeniería en sistema computacionales <br>
                            <strong>Especialidad:</strong> Aplicaciones web y moviles
                         </p>
                    </li>

                    <li class="list-group-item">
                        <p style="text-align: justify;">
                             <strong>CETIS No.110, San Andres Tuxtla, VER | 07/2015</strong> <br>
                             <strong>Especialidad:</strong> Físico Matemático<br> 
                 
                         </p>
                    </li>
                </ul>
                
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div style="height: 30px;" class="blue text-center">
                <h5 class="text-white"> <i class="fad fa-file-code"></i> Reconocimientos</h5>
            </div>
            <div style="width: 90%; padding-left: 10%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >Taller asp.net, Noviembre 2019.</li>
                    <li class="list-group-item" >Maquetación de pagina web con css3, JavaScript y html5,Octubre 2017.</li>
                    <li class="list-group-item" >Taller de java Básico, Septiembre 2015.</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-between">
        <div class="col-sm -12 col-md-7">
            <div style="height: 30px;" class="blue text-center">
                <h5 class="text-white"> <i class="fad fa-briefcase"></i> Experiencia Laboral</h5>
            </div>
            <div style="width: 95%; padding-left: 5%;">
                <p style="text-align: justify;">
                    

                    <strong>DSAI Soluciones S.A. de C.V. - Desarrollador de software</strong> <br> 
                    San Andrés Tuxtla, VER | 06/2017 - 01/2021
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Desarrollo de sistemas web con laravel y php, jquery, bootstrap,javascript y mysql.</li>
                    <li class="list-group-item">Desarrollo de aplicaciones móviles con ionic y angular.</li>
                    <li class="list-group-item">Desarrollo backend con framework laravel, php y mysql.</li>
                    <li class="list-group-item">Creación de consultas y procedimientos almacenados en mysql.</li>
                    <li class="list-group-item">Gestión de base de datos mysql.</li>
                    <li class="list-group-item">Manejo de git y github.</li>

                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div style="height: 30px;" class="blue text-center">
                <h5 class="text-white"> <i class="fad fa-medal"></i> Aptitudes</h5>
            </div>
            <div style="width: 90%; padding-left: 10%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >Alta capacidad resolutiva.</li>
                    <li class="list-group-item" >Afán de superación e iniciativa.</li>
                    <li class="list-group-item" >Actitud profesional y responsable tanto en el desarrollo de las tareas como en el trato con compañeros y superiores.</li>
                    <li class="list-group-item" >Capaz de aprender rápidamente nuevos conceptos y procesos. </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 pt-4 text-center">
            <table class="table blue text-white">
                <tr>
                    <td> <i class="fab fa-facebook-square"></i> Ale Garaco </td>
                    <td> <i class="far fa-envelope"></i> ale17garaco@gmail.com </td>
                    <td> <i class="fab fa-github"></i> garaco</td>
                    <td> <i class="fab fa-linkedin"></i> Alejandro García
                    </td>
                </tr>
            </table>

        </div>
    </div>
    
</div>