<div class="container mb-5">
    <div class="card border-dark mb-3 mt-3">
      <div style="height: 30%; overflow:hidden;">
        <img src="assets/img/fondo.jpg" class="card-img-top">
      </div>
      <div class="card-body text-center mb-3">
        <div class="d-flex justify-content-center">
          <div class="photo">
            <img style="width: 180px; height: 180px;" src="assets/img/photo.jpg">
          </div>
        </div>
        <h4 class="card-title">Alejandro de Jesús García Acosta</h4>
        <div style="width: 90%; padding-left: 10%; text-align: justify;">
          <p class="card-text lh-lg ">Soy desarrollador web con 3 años de experiencia en ambientes
            exigentes centrados en producir sistemas web. Habilidoso en dirigir el
            desarrollo con enfoque creativo. Bien organizado y centrado en el
            cliente con habilidades probadas en dirección de proyectos y liderazgo
            de equipo.</p>
        </div>
  
      </div>
  
      <nav class="bg-dark">
        <div class="nav nav-tabs d-flex justify-content-evenly " id="nav-tab" role="tablist">
          <button class="nav-link activo" routerLinkActive="active" [routerLink]="['/inicio']" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Acerca de mi</button>
          <button class="nav-link activo" routerLinkActive="active" [routerLink]="['/proyectos']" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Proyectos</button>
          <button class="nav-link activo" routerLinkActive="active" [routerLink]="['/habilidades']" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Habilidades</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <router-outlet></router-outlet>
      </div>
  
    </div>
  
  </div>