<nav class="navbar navbar-expand-lg nav-top">
  <div class="container-fluid">
    
    <button class="navbar-toggler" 
    style="color: #fff; border-color: #fff;"
    type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#collapse" 
    aria-controls="navbarNav" 
    aria-expanded="false" 
    aria-label="Toggle navigation">

    <i class="far fa-chevron-circle-down" style="color: #fff;"></i>
    </button>

    <div class="collapse navbar-collapse" id="collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <strong> <a class="nav-link text-white">ALEJANDRO GARICA</a> </strong>
        </li>
      </ul>

      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav-text-t">
            <a class="nav-link" href="#inicio"><strong>INICIO</strong></a>
          </li>
          <li class="nav-item nav-text-t">
            <a class="nav-link" href="#mee"><strong>ACERCA DE MI</strong></a>
          </li>
          <li class="nav-item nav-text-t">
            <a class="nav-link" href="#resumen"><strong>RESUMEN</strong></a>
          </li>
          <li class="nav-item nav-text-t">
            <a class="nav-link" href="#habilidades"><strong>HABILIDADES</strong></a>
          </li>
          <li class="nav-item nav-text-t">
            <a class="nav-link" href="#portafolio"><strong>PORTAFOLIO</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<section class="fondo" id="inicio">
  
    <div class="card mb-3 card-me">
      <div class="card-body text-center mb-3">
        
        <div class="d-flex justify-content-center">
          <div class="card card-fondo" >
            <div class="d-flex justify-content-center">
              <div class="photo">
                <img class="img-photo" src="assets/img/photo.jpg">
              </div>
            </div>
            <div class="db_banner_text animated fadeIn mt-4">
              <h1>Alejandro de Jesús García Acosta</h1>
              <h2>Programador Web</h2>
            </div>
            <ul class="social mb-2">
              <li> <a target="_blank" href="https://github.com/garaco"> <i class="fab fa-github-alt"></i> </a> </li>
              <li> <a target="_blank" href="https://join.skype.com/invite/CwYIr4dB4dSQ"> <i class="fab fa-skype"></i> </a> </li>
              <li> <a target="_blank" href="https://www.facebook.com/ALEXGARCIA1996/"> <i class="fab fa-facebook-f"></i> </a> </li>
              <li> <a target="_blank" href="https://www.linkedin.com/in/alejandro-garc%C3%ADa-4b30461b3/"> <i class="fab fa-linkedin-in"></i> </a> </li>
            </ul>
          </div>
        </div>
      </div>
  
    </div>
  
  </section>

  <section id="mee" style="padding-bottom: 40px;">

  <div class="db_section_title mt-4">
      <h2>Acerca de mi</h2>
  </div>
    <div class="db_common_text" style="width: 90%; padding-left: 10%; text-align: justify;">
      <p  >Soy desarrollador web con 3 años de experiencia en ambientes
        exigentes centrados en producir sistemas web. Habilidoso en dirigir el
        desarrollo con enfoque creativo. Bien organizado y centrado en el
        cliente con habilidades probadas en dirección de proyectos y liderazgo
        de equipo.</p>
    </div>
    
    <div style="width: 90%; padding-left: 10%; text-align: justify;">
      <div class="row">

        <div class="db_common_text col-sm-12 col-md-6">
          <div class="db_small_title text-center">
            Detalles personales
          </div>

          <table>
            <tr>
              <td> <strong> Fecha Nacimiento: </strong> </td> <td> 17/10/1996</td>
            </tr>
            <tr>
              <td> <strong> Email: </strong> </td> <td> ale17garaco@gmail.com</td>
            </tr>
            <tr>
              <td> <strong> Ciudad: </strong> </td> <td> Veracruz</td>
            </tr>
            <tr>
              <td> <strong> Nacionalidad: </strong> </td> <td> Mexicano</td>
            </tr>
          </table>

        </div>
  
        <div class="db_common_text col-sm-12 col-md-6">
          <div class="db_small_title text-center">
          Mis Intereses
        </div>

        <div class="db_my_interests db_common_text">
          <ul>
            <li>
              <p><i class="fas fa-music-alt"></i><span>Música</span></p>
            </li>
            <li>
              <p><i class="far fa-running"></i><span>Deporte</span></p>
            </li>
            <li>
              <p><i class="fad fa-plane"></i><span>Viajes</span></p>
            </li>
            <li>
              <p><i class="fad fa-dreidel"></i><span>Dibujo</span></p>
            </li>
          </ul>
        </div>
        </div>
      </div>

    </div>
    <div class="db_download_cv_button" > 
    <a href="assets/cv.pdf" target="_blank" style="text-decoration: none;" class="btn01"> Descarga CV 
      <i class="fa fa-download"></i> 
    </a> 
  </div>
  </section>

  <app-inicio></app-inicio>
  <app-habilidades></app-habilidades>
  <app-proyecto></app-proyecto>

  <div class="footer_wapper pt-4 pb-4">    
    <div class="container">
      <ul class="social">
        <li> <a target="_blank" href="https://github.com/garaco"> <i class="fab fa-github-alt"></i> </a> </li>
        <li> <a target="_blank" href="https://join.skype.com/invite/CwYIr4dB4dSQ"> <i class="fab fa-skype"></i> </a> </li>
        <li> <a target="_blank" href="https://www.facebook.com/ALEXGARCIA1996/"> <i class="fab fa-facebook-f"></i> </a> </li>
        <li> <a target="_blank" href="https://www.linkedin.com/in/alejandro-garc%C3%ADa-4b30461b3/"> <i class="fab fa-linkedin-in"></i> </a> </li>
      </ul>
    </div>
  </div>