<section id="habilidades" style="padding-top: 20px; padding-bottom: 40px;">
    
    <div class="db_section_title mt-4">
        <h2>Habilidades</h2>
    </div>

    <div class="row justify-content-around" style="width: 90%; padding-left: 10%; text-align: justify;">
        <div class="col-lg-5 col-md-6">
          <div class="db_each-skills db_common_text">
            <div class="candidatos" >
              <div class="parcial">
                <div class="info">
                  <div class="nome">Inglés</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 25%;">
                    <div class="percentagem-num">25%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos" >
              <div class="parcial">
                <div class="info">
                  <div class="nome">HTML</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 100%;">
                    <div class="percentagem-num">100%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos" >
              <div class="parcial">
                <div class="info">
                  <div class="nome">CSS</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 85%;">
                    <div class="percentagem-num">85%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos" >
              <div class="parcial">
                <div class="info">
                  <div class="nome">php</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 85%;">
                    <div class="percentagem-num">85%</div>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="candidatos" >
                <div class="parcial">
                  <div class="info">
                    <div class="nome">Java</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 30%;">
                      <div class="percentagem-num">30%</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="candidatos" >
                <div class="parcial">
                  <div class="info">
                    <div class="nome">C#</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 30%;">
                      <div class="percentagem-num">30%</div>
                    </div>
                  </div>
                </div>
              </div>
            
            <div class="candidatos" >
              <div class="parcial">
                <div class="info">
                  <div class="nome">JavaScript</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 70%;">
                    <div class="percentagem-num">70%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos" >
                <div class="parcial">
                  <div class="info">
                    <div class="nome">TypeScript</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 60%;">
                      <div class="percentagem-num">60%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">Core.Net</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 30%;">
                      <div class="percentagem-num">30%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">Git</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 50%;">
                      <div class="percentagem-num">50%</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>        
        </div>

        <div class="col-lg-5 col-md-6">
          
          <div class="db_each-skills db_common_text">
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Laravel</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 70%;">
                    <div class="percentagem-num">70%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Angular</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 70%;">
                    <div class="percentagem-num">70%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">Ionic</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 60%;">
                    <div class="percentagem-num">60%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos">
              <div class="parcial">
                <div class="info">
                  <div class="nome">JQuery</div>
                </div>
                <div class="progressBar">
                  <div class="percentagem" style="width: 94%;">
                    <div class="percentagem-num">94%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">Materialize</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 64%;">
                      <div class="percentagem-num">44%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">Bootstrap</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 90%;">
                      <div class="percentagem-num">90%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">MySql</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 80%;">
                      <div class="percentagem-num">80%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">MariaDb</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 80%;">
                      <div class="percentagem-num">80%</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="candidatos">
                <div class="parcial">
                  <div class="info">
                    <div class="nome">SqlServer</div>
                  </div>
                  <div class="progressBar">
                    <div class="percentagem" style="width: 30%;">
                      <div class="percentagem-num">30%</div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

</section>
