<div class="container mt-5 pb-5" style="width: 90%;">

    <div style="height: 30px;" class="blue text-center mb-3">
        <h5 class="text-white"> <i class="fad fa-network-wired"></i> Habilidades </h5>
    </div>

    <div class="d-flex justify-content-between bd-highlight mb-3 table-responsive animated fadeIn">
        <table class="table table-sm table-bordered">
            <tr>
                <th style="width: 20%;"></th>
                <th>Básico</th>
                <th>Intermedio</th>
                <th>Avanzado</th>
                <th>Experto</th>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/ingles.png" style="width: 30%;" alt=""> ingles
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td> </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/git.png" style="width: 30%;" alt=""> git 
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
                <td></td>
            </tr>  
            <tr>
                <td>
                    <img src="assets/img/html.png" style="width: 30%;" alt=""> html
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td class="green"> </td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/css.png" style="width: 30%;" alt=""> css 
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
            </tr>            
        </table>
        
    </div>

    <div style="height: 30px;" class="blue text-center mb-3">
        <h5 class="text-white"> <i class="fad fa-code"></i> Lenguajes de programación</h5>
    </div>

    <div class="d-flex justify-content-between bd-highlight mb-3 table-responsive animated fadeIn">
        <table class="table table-sm table-bordered">
            <tr>
                <th style="width: 20%;"></th>
                <th>Básico</th>
                <th>Intermedio</th>
                <th>Avanzado</th>
                <th>Experto</th>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/java.png" style="width: 30%;" alt=""> java
                </td>
                <td class="green"> </td>
                <td> </td>
                <td> </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/php.png" style="width: 30%;" alt=""> php
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/javascript.png" style="width: 30%;" alt=""> javascript 
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td> </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/typescript.png" style="width: 30%;" alt=""> typescript 
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td> </td>
                <td></td>
            </tr>
            
        </table>
        
    </div>

    <div style="height: 30px;" class="blue text-center mb-3">
        <h5 class="text-white"> <i class="fad fa-book-open"></i> Frameworks</h5>
    </div>

    <div class="d-flex justify-content-between bd-highlight mb-3 table-responsive animated fadeIn">
        <table class="table table-sm table-bordered">
            <tr>
                <th style="width: 20%;"></th>
                <th>Básico</th>
                <th>Intermedio</th>
                <th>Avanzado</th>
                <th>Experto</th>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/laravel.png" style="width: 20%;" alt=""> laravel
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td> </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/angular.png" style="width: 20%;" alt=""> angular
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/ionic.png" style="width: 20%;" alt=""> ionic 
                </td>
                <td class="green"> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/jquery.png" style="width: 20%;" alt=""> jQuery 
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/materialize.png" style="width: 20%;" alt=""> materialize 
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/bootstrap.jpg" style="width: 20%;" alt=""> bootstrap 
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
            </tr>
            
        </table>
        
    </div>

    <div style="height: 30px;" class="blue text-center mb-3">
        <h5 class="text-white"> <i class="fad fa-database"></i> Base de Datos</h5>
    </div>

    <div class="d-flex justify-content-between bd-highlight mb-3 table-responsive animated fadeIn">
        <table class="table table-sm table-bordered">
            <tr>
                <th style="width: 20%;"></th>
                <th>Básico</th>
                <th>Intermedio</th>
                <th>Avanzado</th>
                <th>Experto</th>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/mysql.jpg" style="width: 30%;" alt=""> MySql
                </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td class="green"> </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/img/server.png" style="width: 30%;" alt=""> SqlServer
                </td>
                <td class="green"> </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>
        
    </div>

</div>