
<div class="d-flex justify-content-evenly">
    <p style="width: 80%; text-align: justify ;" > Aplicación web que consume la api de Spotify, en la cual se muestran los artistas que existen en la plataforma,
        se puede realizar búsqueda y ver el perfil de un artista asi como escuchar musica.</p>
</div>

  <div style="width: 80%; left:10%;" id="carouselExampleControls" class="carousel slide animated fadeIn" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Inicio</h5>
            </div>
            <img src="assets/img/symphony/inicio.png" class="card-img-top" alt="symphony">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Busqueda</h5>
            </div>
            <img src="assets/img/symphony/busqueda.png" class="card-img-top" alt="symphony">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title text-center">Artista</h5>
            </div>
            <img src="assets/img/symphony/artista.png" class="card-img-top" alt="symphony">
          </div>
        </div>

      </div>
    </div>

    <div class="d-flex justify-content-evenly">
      <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
        <i class="fas fa-angle-left"></i>
      </button>
      <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>

  </div>

<hr>
<div class="animated fadeIn d-flex justify-content-evenly table-responsive">
    
    <table class="table text-center" style="width: 60%;">
        <tr>
            <td colspan="6">
                Tecnologias implementadas
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/img/html.png" style="width: 60px;" alt=""> html
            </td>
             <td>
                <img src="assets/img/css.png" style="width: 50px;" alt=""> css
            </td>
            <td>
                <img src="assets/img/angular.png" style="width: 50px;" alt=""> angular
            </td>
           <td>
                <img src="assets/img/typescript.png" style="width: 80px;" alt=""> typescript
            </td>
            <td>
                <img src="assets/img/bootstrap.jpg" style="width: 50px;" alt=""> bootstrap
            </td>
        </tr>
    </table>
</div>
