<div class="container mt-3">
    <div class="row d-flex justify-content-evenly">
        <div class="card col-sm-3 mt-4 mb-3 animated fadeIn" >
            <img class="mt-2" src="assets/img/venta/venta.png" style="width: 100%;" alt="...">                
            <div class="card-body text-center">
                <h5 class="card-title text-center">Punto de venta</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm" data-bs-toggle="modal" (click)="open('venta')" data-bs-target="#staticBackdrop"> ver mas </button> 
                </div>
            </div>
        </div>

        <div class="card col-sm-3 mt-4 mb-3 animated fadeIn" >
            <img src="assets/img/premas/premas-login.png" style="width: 100%;" alt="...">                
            <div class="card-body text-center">
                <h5 class="card-title">PREMAS</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm" data-bs-toggle="modal" (click)="open('PREMAS')" data-bs-target="#staticBackdrop"> ver mas </button> 
                </div>
            </div>
        </div>

        <div class="card col-sm-3 mt-4 mb-3 animated fadeIn" >
            <img src="assets/img/symphony/inicio.png" style="width: 100%;" alt="...">        
            <div class="card-body text-center">
                <h5 class="card-title">Symphony</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm" data-bs-toggle="modal" (click)="open('Symphony')" data-bs-target="#staticBackdrop"> ver mas </button> 
                </div>
            </div>
        </div>

        

    </div>

    <div class="row d-flex justify-content-evenly animated fadeIn">

        <div class="card col-sm-3 mt-4 mb-3" >
            <img src="assets/img/tienda/tienda.png" style="width: 100%;" alt="...">        
            <div class="card-body text-center">
                <h5 class="card-title">Tienda online</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm"> ver mas </button> 
                </div>
            </div>
        </div>
        
        <div class="card col-sm-3 mt-4 mb-3 animated fadeIn" >
            <img src="assets/img/seminario/seminario-login.png" style="width: 100%;" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">PreSeminario</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm" data-bs-toggle="modal" (click)="open('Seminario')" data-bs-target="#staticBackdrop"> ver mas </button> 
                </div>
            </div>
        </div>

        <div class="card col-sm-3 mt-4 mb-3 animated fadeIn" >
            <img src="assets/img/express/portada.png" style="width: 100%;" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Voy Express</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm" data-bs-toggle="modal" (click)="open('Voy Express')" data-bs-target="#staticBackdrop"> ver mas </button> 
                </div>
            </div>
        </div>
        
    </div>

    <div class="row d-flex justify-content-evenly">

        
        <div class="card col-sm-3 mt-4 mb-3 animated fadeIn" >
            <img src="assets/img/equipo/equipo.png" style="width: 100%;" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Presentacion de Equipo</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm" data-bs-toggle="modal" (click)="open('Equipo')" data-bs-target="#staticBackdrop"> ver mas </button> 
                </div>
            </div>
        </div>

        <div class="card col-sm-3 mt-4 mb-3 animated fadeIn" >
            <img src="assets/img/emprendedor/emprendedor.png" style="width: 100%;" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Espacio Emprendedor</h5>
            </div>
            <div class="card-footer text-muted">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-blue btn-sm" data-bs-toggle="modal" (click)="open('Emprendedor')" data-bs-target="#staticBackdrop"> ver mas </button> 
                </div>
            </div>
        </div>
        
    </div>
    
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <div style=" width: 100%;">
                <h5 class="modal-title text-center" id="staticBackdropLabel">{{ title }}</h5>
            </div>
          <button type="button" class="btn-close" (click)="open('')" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="padding: 0;">
            <app-premas *ngIf="title == 'PREMAS' " ></app-premas>
            <app-symphony *ngIf="title == 'Symphony' " ></app-symphony>
            <app-express *ngIf="title == 'Voy Express' " ></app-express>
            <app-emprendedor *ngIf="title == 'Emprendedor' " ></app-emprendedor>
            <app-equipo *ngIf="title == 'Equipo' " ></app-equipo>
            <app-seminario *ngIf="title == 'Seminario' " ></app-seminario>
        </div>
        
      </div>
    </div>
  </div>