<div class="container">
        <div class="row">
            <div class="d-flex justify-content-center col-sm-12 mt-4">
                <div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 90%;">
                    <div style="height: 30px;" class="blue text-center">
                        <h5 class="text-white"> PREMAS </h5>
                    </div>
                    <div class="row g-0">
                      <div class="col-md-4 text-center mt-2">
                        <img src="assets/img/premas-login.png" style="width: 100%;" alt="...">
                        <button class="btn btn-blue mt-3"> ver mas </button> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          
                          <p class="card-text">Sistema web encargado de realizar requesiciones, compras y llevar el inventario del instituto.</p>
                           
                          <label style="font-weight: bold;">Tecnologias implementadas:</label>
                          <div>
                            <table class="table text-center">
                                <tr>
                                    <td>
                                        html <img src="assets/img/html.png" style="width: 60px;" alt=""> 
                                    </td>
                                     <td>
                                        css <img src="assets/img/css.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        php <img src="assets/img/php.png" style="width: 60px;" alt=""> 
                                    </td>
                                   <td>
                                         javascript <img src="assets/img/javascript.png" style="width: 70px;" alt=""> 
                                    </td>
                                    <td>
                                        jQuery <img src="assets/img/jquery.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        bootstrap <img src="assets/img/bootstrap.jpg" style="width: 50px;" alt=""> 
                                    </td>
                                </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-sm-12">
                <div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 90%;">
                    <div style="height: 30px;" class="blue text-center">
                        <h5 class="text-white">Tienda online</h5>
                    </div>
                    <div class="row g-0">
                      <div class="col-md-4 text-center mt-2">
                        <img src="assets/img/tienda.png" style="width: 100%;" alt="...">
                        <button class="btn btn-blue mt-3"> ver mas </button> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          
                          <p class="card-text">Tienda en linea de venta de cosmeticos.</p>
                          <label style="font-weight: bold;">Tecnologias implementadas:</label>
                          <div>
                            <table class="table">
                                <tr>
                                    <td>
                                        <img src="assets/img/html.png" style="width: 60px;" alt="">
                                    </td>
                                     <td>
                                        <img src="assets/img/css.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/php.png" style="width: 60px;" alt=""> 
                                    </td>
                                   <td>
                                        <img src="assets/img/javascript.png" style="width: 70px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/jquery.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/materialize.png" style="width: 50px;" alt=""> 
                                    </td>
                                </tr>
                            </table>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-sm-12">
                <div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 90%;">
                    <div style="height: 30px;" class="blue text-center">
                        <h5 class="text-white">PreSeminario</h5>
                    </div>
                    <div class="row g-0">
                      <div class="col-md-4 text-center mt-2">
                        <img src="assets/img/seminario-login.png" style="width: 100%;" alt="...">
                        <button class="btn btn-blue mt-3"> ver mas </button> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          
                          <p class="card-text">Seminario en linea.</p>
                          <label style="font-weight: bold;">Tecnologias implementadas:</label>
                          <div>
                            <table class="table">
                                <tr>
                                    <td>
                                        <img src="assets/img/html.png" style="width: 60px;" alt="">
                                    </td>
                                     <td>
                                        <img src="assets/img/css.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/php.png" style="width: 60px;" alt=""> 
                                    </td>
                                   <td>
                                        <img src="assets/img/javascript.png" style="width: 70px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/jquery.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/bootstrap.jpg" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/twigLogo.png" style="width: 70px;" alt=""> 
                                    </td>
                                </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-sm-12">
                <div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 90%;">
                    <div style="height: 30px;" class="blue text-center">
                        <h5 class="text-white">Presentacion de Equipo</h5>
                    </div>
                    <div class="row g-0">
                      <div class="col-md-4 text-center mt-2">
                        <img src="assets/img/equipo.png" style="width: 100%;" alt="...">
                        <button class="btn btn-blue mt-3"> ver mas </button> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          
                          <p class="card-text">Presentacion de integrantes de equipo de trabajo.</p>
                          <label style="font-weight: bold;">Tecnologias implementadas:</label>
                          <div>
                            <table class="table">
                                <tr>
                                    <td>
                                        <img src="assets/img/html.png" style="width: 60px;" alt="">
                                    </td>
                                     <td>
                                        <img src="assets/img/css.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/php.png" style="width: 60px;" alt=""> 
                                    </td>
                                   <td>
                                        <img src="assets/img/javascript.png" style="width: 70px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/jquery.png" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/bootstrap.jpg" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/twigLogo.png" style="width: 70px;" alt=""> 
                                    </td>
                                </tr>
                            </table>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center col-sm-12">
                <div class="card shadow p-3 mb-5 bg-body rounded" style="max-width: 90%;">
                    <div style="height: 30px;" class="blue text-center">
                        <h5 class="text-white">Espacio Emprendedor</h5>
                    </div>
                    <div class="row g-0">
                      <div class="col-md-4 text-center mt-2">
                        <img src="assets/img/emprendedor.png" style="width: 100%;" alt="...">
                        <button class="btn btn-blue mt-3"> ver mas </button> 
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          
                          <p class="card-text">Presentacion de integrantes de equipo de trabajo.</p>
                          <label style="font-weight: bold;">Tecnologias implementadas:</label>
                          <div>
                            <table class="table">
                                <tr>
                                    <td>
                                        <img src="assets/img/html.png" style="width: 60px;" alt="">
                                    </td>
                                     <td>
                                        <img src="assets/img/css.png" style="width: 50px;" alt=""> 
                                    </td>
                                   <td>
                                        <img src="assets/img/typescript.png" style="width: 90px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/bootstrap.jpg" style="width: 50px;" alt=""> 
                                    </td>
                                    <td>
                                        <img src="assets/img/angular.png" style="width: 50px;" alt=""> 
                                    </td>
                                </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
