
<div class="d-flex justify-content-evenly">
  <p style="width: 80%; text-align: justify ;" > Sistema web desarrollado para el Instituto Tecnológico Supero de san Andrés Tuxtla, 
    PREMAS es un sistema en el cual se realizan requisiciones, órdenes de compra y se lleva un control del inventario.</p>
</div>

<div style="width: 80%; left:10%;" id="carouselExampleControls" class="carousel slide animated fadeIn" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Login</h5>
          </div>
          <img src="assets/img/premas/premas-login.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Inicio</h5>
          </div>
          <img src="assets/img/premas/inicio.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Menú</h5>
          </div>
          <img src="assets/img/premas/menu.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Requisiciones Anuales</h5>
          </div>
          <img src="assets/img/premas/paa.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Requisiciones Anuales</h5>
          </div>
          <img src="assets/img/premas/altapaa.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Requisiciones</h5>
          </div>
          <img src="assets/img/premas/req.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Requisiciones</h5>
          </div>
          <img src="assets/img/premas/altapaa.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Órdenes de Compra</h5>
          </div>
          <img src="assets/img/premas/oc.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Materiales</h5>
          </div>
          <img src="assets/img/premas/material.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Materiales</h5>
          </div>
          <img src="assets/img/premas/altaMaterial.png" class="card-img-top" alt="premas">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-evenly">
    <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <i class="fas fa-angle-left"></i>
    </button>
    <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <i class="fas fa-angle-right"></i>
    </button>
  </div>

</div>

<!-- <hr>
<div class="animated fadeIn d-flex justify-content-evenly table-responsive">
  
  <table class="table text-center" style="width: 60%;">
      <tr>
          <td colspan="7">
              Tecnologias implementadas
          </td>
      </tr>
      <tr>
          <td>
              <img src="assets/img/html.png" style="width: 60px;" alt=""> html
          </td>
           <td>
              <img src="assets/img/css.png" style="width: 50px;" alt=""> css
          </td>
          <td>
              <img src="assets/img/php.png" style="width: 50px;" alt=""> php
          </td>
         <td>
              <img src="assets/img/javacript.png" style="width: 80px;" alt=""> javacript
          </td>
          <td>
            <img src="assets/img/jquery.png" style="width: 50px;" alt=""> jQuery
          </td>
          <td>
              <img src="assets/img/bootstrap.jpg" style="width: 50px;" alt=""> bootstrap
          </td>
          <td>
            <img src="assets/img/mysql.jpg" style="width: 70px;" alt=""> MySql
        </td>
      </tr>
  </table>
</div> -->
