
<div class="d-flex justify-content-evenly">
    <p style="width: 80%; text-align: justify ;" > Voy Express es una aplicación móvil de moto mandados, en la cual
        se realizan compras y pagos de servicios. Cuenta con un historial de los pedidos realizados, así como notificaciones.
        además de que se puede buscar direcciones mediante el mapa que ofrece open layers.
    </p>
</div>

<div class="d-flex justify-content-evenly">
  <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <i class="fas fa-angle-left"></i>
  </button>
  <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <i class="fas fa-angle-right"></i>
  </button>
</div>

<div style="width: 50%; left:25%;" id="carouselExampleControls" class="carousel slide animated fadeIn" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Login / Registro</h5>
          </div>
            <div class="row text-center">
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/login.png" class="card-img-top" alt="express">
              </div>
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/registro.png"  class="card-img-top" alt="express">
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="row text-center">
            <div class="card-body">
              <h5 class="card-title text-center">inicio</h5>
            </div>
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/inicio.png" class="card-img-top" alt="express">
              </div>
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/menu.png"  class="card-img-top" alt="express">
              </div>
            </div>

        </div>
        </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="row text-center">
            <div class="card-body">
              <h5 class="card-title text-center">Servicios</h5>
            </div>

              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/mandados.png" class="card-img-top" alt="express">
              </div>
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/compras.png"  class="card-img-top" alt="express">
              </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="row text-center">
            <div class="card-body">
              <h5 class="card-title text-center">Historial / Notificaciones</h5>
            </div>
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/historial.png" class="card-img-top" alt="express">
              </div>
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/notificacion.png"  class="card-img-top" alt="express">
              </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title text-center">Direcciones</h5>
          </div>
          <div class="row text-center">
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/direcciones.png" class="card-img-top" alt="express">
              </div>
              <div class="col-sm-6 mt-2">
                  <img src="assets/img/express/mapa.png"  class="card-img-top" alt="express">
              </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>

</div>

<hr>
<div class="animated fadeIn d-flex justify-content-evenly">
  <div class="card-footer text-muted">
    <span class="badge rounded-pill bg-success m-2">HTML</span>
    <span class="badge rounded-pill bg-success m-2">CSS</span>
    <span class="badge rounded-pill bg-success m-2">Angular</span>
    <span class="badge rounded-pill bg-success m-2">Ionic</span>
    <span class="badge rounded-pill bg-success m-2">Typescript</span>
    <span class="badge rounded-pill bg-success m-2">Php</span>
    <span class="badge rounded-pill bg-success m-2">laravel</span>
    <span class="badge rounded-pill bg-success m-2">Mysql</span>
  </div>
</div>