
<div class="d-flex justify-content-evenly">
    <p style="width: 80%; text-align: center ;" > Sistema web en el cual el usuario se registra para participar en un seminario.
        El administrador se encarga de realizar el cuestionario y ver los nuevos usuarios así como ver las respuestas de cada uno de ellos.
        Los usuarios registrados, deben contestar el cuestionario que se les ha asignado.</p>
</div>

<div style="width: 80%; left:10%;" id="carouselExampleControls" class="carousel slide animated fadeIn" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Login</h5>
          </div>
          <img src="assets/img/seminario/seminario-login.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Registro</h5>
          </div>
          <img src="assets/img/seminario/registro.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Inicio</h5>
          </div>
          <img src="assets/img/seminario/inicio.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Actividades</h5>
          </div>
          <img src="assets/img/seminario/actividad.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Actividades</h5>
          </div>
          <img src="assets/img/seminario/addActividad.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Cuestionario</h5>
          </div>
          <img src="assets/img/seminario/preguntas.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Usuarios</h5>
          </div>
          <img src="assets/img/seminario/respuesta.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title text-center">Mostrar Respuestas</h5>
          </div>
          <img src="assets/img/seminario/ver.png" class="card-img-top" alt="seminario">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-evenly">
    <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <i class="fas fa-angle-left"></i>
    </button>
    <button class="btn btn-blue btn-sm" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <i class="fas fa-angle-right"></i>
    </button>
  </div>

</div>

<hr>
<div class="animated fadeIn d-flex justify-content-evenly table-responsive">
    
    <table class="table text-center" style="width: 60%;">
        <tr>
            <td colspan="8">
                Tecnologias implementadas
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/img/html.png" style="width: 60px;" alt=""> html
            </td>
             <td>
                <img src="assets/img/css.png" style="width: 50px;" alt=""> css
            </td>
            <td>
                <img src="assets/img/php.png" style="width: 50px;" alt=""> php
            </td>
            <td>
                <img src="assets/img/twigLogo.png" style="width: 60px;" alt=""> twig
            </td>
            <td>
                <img src="assets/img/javascript.png" style="width: 50px;" alt=""> javascript
            </td>
            <td>
              <img src="assets/img/jquery.png" style="width: 50px;" alt=""> jQuery
            </td>
            <td>
                <img src="assets/img/bootstrap.jpg" style="width: 50px;" alt=""> bootstrap
            </td>
            <td>
                <img src="assets/img/mysql.jpg" style="width: 70px;" alt=""> mysql
            </td>
        </tr>
    </table>
</div>
